In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_df = pd.read_json('logins.json')

In [3]:
data_df.info

<bound method DataFrame.info of                login_time
0     1970-01-01 20:13:18
1     1970-01-01 20:16:10
2     1970-01-01 20:16:37
3     1970-01-01 20:16:36
4     1970-01-01 20:26:21
...                   ...
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

[93142 rows x 1 columns]>

In [4]:
data_df['login_time'].dtype

dtype('<M8[ns]')

In [5]:
data_df.set_index('login_time', inplace = True)

In [6]:
data_df.head()

Empty DataFrame
Columns: []
Index: [1970-01-01 20:13:18, 1970-01-01 20:16:10, 1970-01-01 20:16:37, 1970-01-01 20:16:36, 1970-01-01 20:26:21]

In [7]:
data_df.index.dtype

dtype('<M8[ns]')

In [8]:
data_df['count'] = 1
sorted_df = data_df.sort_index()
sorted_df.head(15)

                     count
login_time
1970-01-01 20:12:16      1
1970-01-01 20:13:18      1
1970-01-01 20:16:10      1
1970-01-01 20:16:36      1
1970-01-01 20:16:37      1
1970-01-01 20:21:41      1
1970-01-01 20:26:05      1
1970-01-01 20:26:21      1
1970-01-01 20:31:03      1
1970-01-01 20:34:46      1
1970-01-01 20:34:58      1
1970-01-01 20:35:38      1
1970-01-01 20:35:47      1
1970-01-01 20:36:34      1
1970-01-01 20:39:25      1

In [9]:
resampled_df = sorted_df.resample('15T').count()
resampled_df.head()

                     count
login_time
1970-01-01 20:00:00      2
1970-01-01 20:15:00      6
1970-01-01 20:30:00      9
1970-01-01 20:45:00      7
1970-01-01 21:00:00      1

In [10]:
resampled_df = resampled_df.reset_index()
resampled_df

              login_time  count
0    1970-01-01 20:00:00      2
1    1970-01-01 20:15:00      6
2    1970-01-01 20:30:00      9
3    1970-01-01 20:45:00      7
4    1970-01-01 21:00:00      1
...                  ...    ...
9783 1970-04-13 17:45:00      5
9784 1970-04-13 18:00:00      5
9785 1970-04-13 18:15:00      2
9786 1970-04-13 18:30:00      7
9787 1970-04-13 18:45:00      6

[9788 rows x 2 columns]

In [11]:
sns.barplot(x = 'login_time', y = 'count', df = resampled_df)
ax.set_xlabel("login time")
ax.set_ylabel("count")

ValueError: Could not interpret input 'login_time'